:root {
  /* Layout / backgroundy */
  --page-background-color: #f5f5f5;
  --component-background-color: #ffffff;

  /* Navbar */
  --navbar-background-color: #ffffff;
  --navbar-height: 52px;
  --navbar-title-size: 26px;

  /* Komponenty */
  --component-padding: 12px;
  --component-border-radius: 12px;
  --component-height: auto; /* prípadne 48px, ak chceš fixed výšku */
  --component-background-color: #f3f3f3;

  --list-item-height: 50px;

  /* Text / farby */
  --text-color-main: #000000;
  --text-color-muted: #666666;

  --back-button-color: blue;
  --add-button-color: green;
  --delete-button-color: #b03a2e;
  --archive-button-color: orange;
}


/* Reset/ základ */
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #f5f5f5; /* jemné pozadie */
}

/* Hlavný page wrapper – mobile-first */
.page-container {
  min-height: 100vh;
  box-sizing: border-box;

  /* mobile */
  width: 100%;
  margin: 0 auto;
  padding: 16px;

  background-color: #ffffff;
}

/* trochu roztiahneme na tablet */
@media (min-width: 640px) {
  .page-container {
    max-width: 900px;
    padding: 16px 24px 32px;
    border-radius: 12px;
  }
}

.items-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 8px;
}

.items-header__filter-button {
  border-radius: 999px;
  padding: 6px 14px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: #e3f1ff;
  color: var(--back-button-color);
}